/*
   New Perspectives on JavaScript
   Tutorial 9
   Tutorial Case 1
   Filename: mc_carver.css
   
   This file contains styles used in the mc_carver.htm, and
   mc_carverfeedback.htm files.

*/
body
	{
		background-color:#B889E0;
		font-family:arial;
	}
#confirm
	{
		position:absolute;
		top:100px;
		left:100px;
		border:solid 1px;
		width:550px;
		padding:5px;
		line-height:1.5em;
	}
#layout
	{
		position:absolute;
		top:100px;
		left:100px;
		width:550px;
		padding:5px;
		line-height:1.5em;
	}
