/*
   New Perspectives on JavaScript
   Tutorial 4
   Case Problem 3
   Filename: trails.css

   This file contains styles used in the trail.htm file
*/

body {background-color: rgb(255,204,102)}
#trail {position:absolute; left:0px; top:0px}
img {border-width: 0px}
#redBall {position:absolute; left:315px; top:447px; border-width: 0px}

#text1 {position:absolute; left:375px; top:240px}

#text2 {position:absolute; left: 20px; top: 210px; visibility:hidden}
#photo2 {position:absolute; left:400px; top:240px; visibility:hidden}

#text3 {position:absolute; left:70px; top:180px; visibility:hidden}
#photo3 {position:absolute; left:295px; top:165px; visibility:hidden}

#text4 {position:absolute; left:300px; top:290px; visibility:hidden}
#photo4 {position:absolute; left:220px; top:130px; visibility:hidden}

#text5 {position:absolute; left:250px; top:280px; visibility:hidden}
#photo5 {position:absolute; left:200px; top:120px; visibility:hidden}

#text6 {position:absolute; left:350px; top:190px; visibility:hidden}
#photo6 {position:absolute; left:240px; top:30px; visibility:hidden}

#text7 {position:absolute; left:180px; top:40px; visibility:hidden}
#photo7 {position:absolute; left:40px; top:110px; visibility:hidden}

#text8 {position:absolute; left:200px; top:120px; visibility:hidden}
#photo8 {position:absolute; left:350px; top:190px; visibility:hidden}

#text9 {position:absolute; left:370px; top:270px; visibility:hidden}